.header{
  background-color:  #131921;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 200px;
  margin-left: 20px;
}


.header__nav {
  display: flex;
  flex-direction: row;
  flex: 1; /* this div will use all space */
}

.header__nav__item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  // text-transform: uppercase;
  outline: none;
  font-size: 20px;
}

.header__right {
  float: right;
  position: relative;
}

