$side-bar-width: 120px;

.status-dialog {
  .loader {
    position: relative;
    height: 500px;
  }

  &.bp3-dialog {
    margin-top: 5vh;
    top: 5%;
    width: 60vw;
    max-height: 95vh;
    .status-dialog-main-area {
      padding: 10px;
      overflow: auto;
    }

    .bp3-dialog-footer {
      position: relative;
      display: inline;
      overflow: auto;
      white-space: nowrap;
      .viewRawButton {
        float: left;
      }
      .closeButton {
        float: right;
      }
      .footer-actions-left {
        position: absolute;
        left: $side-bar-width;

        & > * {
          margin-right: 10px;
        }
      }
    }
  }
}
