@import '../../variables';

.header-bar {
  overflow: hidden;

  .app-logo {
    position: relative;
    width: 100px;
    height: $header-bar-height;
    overflow: hidden;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 75px;
    }
  }

  * {
    white-space: nowrap;
  }
}