.login-form-view{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100%;
  .login-form {
    width: 300px;
  }
  .bp3-form-group {
    justify-content: space-between
  }
}

