 @import '../node_modules/normalize.css/normalize';
 @import '../node_modules/@blueprintjs/core/lib/css/blueprint';
//  @import '../node_modules/@blueprintjs/datetime/lib/css/blueprint-datetime';
 
 html,
 body {
   //font-family: 'Open Sans', Helvetica, Arial, sans-serif;
   position: fixed;
   height: 100%;
   width: 100%;
   overflow: hidden;
   font-size: 13px;
 }
 
 body {
   &.bp3-dark {
     background: rgb(41, 55, 66);
   }
 
   &.mouse-mode {
     *:focus {
       outline: none !important;
     }
   }
 }
 
 .app-container {
   position: absolute;
   height: 100%;
   width: 100%;
 }
 